.card-0{
  background-color: #3197a6;
}
.card-1 .card-3{
  background-color: white;
}
.container-main{
  position:relative;
  top:100px;
  left:220px;
  width:1250px;
  height: 900px;
}

.gr-1{
  float:left;
  width: 600px;
  position: relative;

}
.gr-2{
  float:right;
  width: 600px;
  position: relative;
  border:1px ridge rgb(233, 218, 218);
}
/* class/idName + :hover => kích hoạt hiệu ứng rê chuột đổi background color*/
.gr-2:hover {
  background-color: #3197a6;
}
.gr-3:hover{
  background-color: #3197a6;
}
.gr-3{
  float:left;
  width: 600px;
  position: relative;
  top:50px;
  border:1px ridge rgb(233, 218, 218);
}
.gr-4:hover{
  background-color: #E67E22;
}
.gr-4{
  float:right;
  width: 600px;
  position: relative;
  background-color:#117A65  ;
  top:50px;
}
.col-md-3{
  border: none;
}

/*--------------------------NAV---------------------*/
.navbar-light{
  background-color: white;
  height: 140px;
}
.search-box{
  position: relative;
  left:320px;
}
.input-search{
  border-top: none;
  border-left: none;
  border-right: none;
  outline: none;
}
.btn-search{
  background-color: white;
  border: none;
}
.navbar-text{
  position: relative;
  left :130px;
  width:110px;
}
.navbar-text1{
  position: relative;
  left :150px;
  width:130px;
  height:60px;
}
.navbar-text:hover{
  background-color: #3197a6;
}
.navbar-text1:hover{
  background-color: #3197a6;
}
.sub-nav{
  position: relative;
  bottom: 20px;
}
.sub1{
  float:left;
  text-align:center;
  width:70px;
}
.btn-login{
  background-color: white;
  border: none;
  color:#3197a6;
}
.btn-regis{
  background-color: #3197a6;
  border:none;
  color:white;
}
.sub2{
  float:right;
  background-color: #3197a6;
  height: 55px;
  width: 150px;
  position: relative;
  bottom: 15px;
}
.sub-text1{
  color:white;
}
.sub-text2{
  color: #5D6D7E;
}
.sub3{
  position: relative;
  top:15px;
  left:12px;
}
.nav-item{
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.card-title{
  font-weight:bold;
}
.title-a{
  position: relative;
  top:80px;
  left:20px;
}
.poster{
  width:100%;
  position:relative;
  top:100px;
  background-color:#EAEDED;
  height:400px;
}
.poster1{
  width:100%;
}
.r1 , .r2 {
  width: 1420;
}
.p1{
  float:left;
  width: 720px;
  position:relative;
  top:50px;
  left:200px;
}
.p2{
  float:right;
  width:550px;
  position:relative;
  top:50px;
}
.p3{
  float:left;
  width: 720px;
  position:relative;
  left:200px;
  top:100px;
}
.p4{
  float:right;
  width:550px;
  position:relative;
  top:100px;
}
.des1{
  float:left;
  width:300px;
  right:120;
}
.des2{
  float:right;
  width:420px;
  position:relative;
  right:120;
}
.des3{
  float:left;
  width:150px;
}
.des4{
  float:right;
  width:400px;
  position:relative;

}
