<body>
<div id="Aboutcontent-first">
  <div class="imgBack">
    <button id="imgBackbtn" routerLink="/"><img src="assets/images/left-arrow1.png"></button>
  </div>
  <div id="Aboutcontent">
	  <div id="AboutL">
      <div id="picOn">
        <div id="pic1">
          <div class="Abouttxt">
            <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size:50;">Glamousents</p>
          </div>
        </div>
        <div id="pic2"><img width=300px; height=350px; src="assets/images/Captura.jpg"></div>
      </div>
      <div id="picUn">
        <div id="pic3"><img src="assets/images/chair.png"></div>
        <div id="pic4">
          <div class="Abouttxt">
            <h1 style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size:50;">About</h1>
            <p style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;font-size:50;">Glamousents</p>
          </div>
        </div>
      </div>
	  </div>
	  <div id="AboutR">
      <div id="AbouttxtR">
        <h1>About Workshop</h1>
        <p>The event was a success, and we realized good ideas can come from anyone, anywhere, at any time.<br>
          They also realized there were many others who wanted to support good ideas.<br>
          So they left the Bank to launch the world’s first crowdfunding community in 2002.<br>
          Today, people in more than 165 countries can easily share their ideas,<br>
          and individual donors and companies can easily support vetted nonprofits.</p>
      </div>
    </div>
  </div>
</div>
</body>
